*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

#screen{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    background-color: rgb(241,243,246);
}

.navbar{
    width: 100%;
    height: 8vh;
    /* border: 2px solid black; */
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    background-color: rgb(40,116,240);
}

.inner-nav{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid yellow; */
}

.flipkart-logo{
    width: 10%;
    height: 80%;
    /* border: 1px solid red; */
}

.flipkart-logo img{
    padding-top: 5px;
    width: 100%;
}

.searchbar{
    width: 50%;
    height: 80%;
    /* border: 1px solid red; */
    padding-left: 10px;
    display: flex;
}

.searchbar input{
    width: 90%;
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.svg{
    width: 5%;
    height: 40px;
    /* border: 1px solid red; */
    justify-self: center;
    display: flex;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.svg svg{
    align-self: center;
    padding-right: 5px;
}

.Login-button{
    width: 10%;
    height: 80%;
    /* border: 1px solid red; */
}

.Login-button button{
    width: 90%;
    height: 90%;
    color: rgb(40,116,240);
    border: none;
    outline: none;
    background-color: white;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 2px;
}

.stores{
    width: 35%;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.seller{
    width: 31%;
    height: 90%;
    /* border: 1px solid yellow; */
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.more{
    width: 25%;
    height: 90%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.cart{
    width: 25%;
    height: 90%;
    display: flex;
    color: white;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.logout{
    width: 19%;
    height: 80%;
}

.logout button{
    width: 90%;
    height: 90%;
    color: rgb(40,116,240);
    border: none;
    outline: none;
    background-color: white;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 2px;
}

.category{
    width: 100%;
    height: 20vh;
    /* border: 1px solid red; */
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    position: relative;
    top: 8.5%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.inner-cat{
    width: 8%;
    height: 100%;
    /* border: 1px solid red; */
}

.inner-image{
    width: 100%;
    height: 80%;
    /* border: 1px solid red; */
}

.inner-image img{
    width: 100%;
    height: 100%;
    scale: 0.9;
}

.inner-text{
    text-align: center;
    white-space: nowrap;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: capitalize;
    /* color: rgb(102,102,102); */
}

.inner-cat:hover{
    color: rgb(40,116,240);
}

.main-slider{
    width: 100%;
    height: 40vh;
    /* border: 1px solid red; */
    position: relative;
    top: 10%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    justify-content: center;
}

.main-slider img{
    width: 98%;
    height: 100%;
}

.main-items-1{
    width: 100%;
    height: 40vh;
    /* border: 1px solid red; */
    position: relative;
    top: 11%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.main-items-2{
    width: 100%;
    height: 40vh;
    /* border: 1px solid red; */
    position: relative;
    top: 12%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.inner-items{
    width: 16%;
    height: 100%;
    /* border: 1px solid red; */
}

.items-top{
    width: 80%;
    height: 70%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin: auto;
}

.items-top img{
    width: 85%;
    scale: 0.9;
    height: 100%;
}

.items-bot{
    width: 100%;
    height: 30%;
    /* border: 1px solid red; */
    text-align: center;
}

.items-bot h4{
    padding-top: 5px;
    font-weight: 300;
    padding-bottom: 15px;
}

.items-bot p{
    color: rgb(100,144,60);
    padding-bottom: 5px;
}

.items-bot span{
    color: rgb(122,122,122);
    font-size: 0.8;
    white-space: nowrap;
}

.inner-section{
    width: 16%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.section-top{
    width: 100%;
    height: 60%;
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
}

.section-top h2{
    font-weight: 300;
    font-size: 1.6em;
}

.section-top button{
    width: 40%;
    height: 6vh; 
    color: white;
    background-color: rgb(40,116,240);
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 5px;
}

.view-button{
    padding-top: 10px;
}

.section-bot{
    width: 100%;
    height: 40%;
    /* border: 1px solid red; */
}

.section-bot img{
    width: 100%;
    height: 100%;
}



.footer{
    width: 100%;
    height: 50vh;
    /* border: 1px solid red; */
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    top: 20%;
    background-color: rgb(23,35,55);
}